* {
    margin: 0px;
    padding: 0px;
}

.box {
    display: flex;
    align-items: flex-start; /* Mude para flex-start para alinhar no topo */
    justify-content: center;
    background-image: url('download\ \(3\).jpg');
    background-size: cover;
}

.conte {
    display: flex;
    align-items: flex-start; /* Mude para flex-start para alinhar no topo */
    justify-content: center;
    background-image: url('download\ \(3\).jpg');
    background-size: cover;
}

.main {
    background-color: rgb(99, 152, 221);
    display: flex;
    flex-direction: column;
    align-items: center; /* Adicionado para centralizar os elementos internos */
    width: 20vw;
    height: 90vh;
    border-radius: 10px;
}
.foto {
    width: 90%;
    max-width: 500px; 
    height: auto;
    aspect-ratio: 8 / 12; 
    border-radius: 10px;
    overflow: hidden; /*pra não cortar a borda arredondada*/
    padding-top:5px;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.texto {
    background-color: rgb(131, 202, 198);
    width: 70vw;
    /*height: 90vh;*/
    margin-left: 50px;
    border-radius: 10px;
    aspect-ratio: 6 / 10;
}

.livro {
        background-color: rgb(131, 202, 198);
        width: 70vw;
        height: 90vh;
        margin-left: 50px;
        border-radius: 10px;
}

p{
    margin: 15px;
}

footer{
    background-color: rgb(157, 238, 211);
    /* width: var(--larguraC);
    height: calc(var(--alturaC)); */
    text-align: center;
    padding: 10px;
    display: block;
   
}
@media screen and (min-width:768px) {
    nav .menu-mobile{display: none;}
    nav .menuIcon{display:none;}
    nav .menu-desktop {display:flex;}
    
}