* {
    margin: 0px;
    padding: 0px;
}


.prof-box {
    display: flex;
    align-items: flex-start;
    /* Mude para flex-start para alinhar no topo */
    justify-content: center;
    background-size: cover;
}

.conte {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
}
/*  */

.main {
    background-color: rgb(99, 152, 221);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 50vw;
    /* height: 90vh; */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
/* .main2 {
    background-color: rgb(99, 152, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

} */

.foto {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    /*pra não cortar a borda arredondada*/
    padding-top: 10px;
    
}

.foto img {
    width: 50%;
    height: 35%;
    object-fit: cover;
    margin-left: 15px;
    /* aspect-ratio: 6/ 10; */
    border-radius: 10%;
}

.texto img {
    width: 50%;
    height: 35%;
    object-fit: cover;
    margin-left: 15px;
    /* aspect-ratio: 6/ 10; */
    border-radius: 10%;
}


.texto {
    background-color: rgb(99, 152, 221);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 50vw;
    /* height: 90vh; */
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


footer {
    background-color: rgb(157, 238, 211);
    /* width: var(--larguraC);
    height: calc(var(--alturaC)); */
    text-align: center;
    padding: 10px;
    display: block;
}

hr {
    border: 0;
    width: 5px; /* Alterado de height para width para representar a largura da linha */
    background-image: linear-gradient(to bottom, rgb(99, 8, 8), rgb(255, 137, 210));
    /* Gradiente colorido na direção vertical */
    margin: 20px 0;
}

.linha{
    width: 5px;
    height: 100vh;
    border: 0;
    width: 5px; /* Alterado de height para width para representar a largura da linha */
    background-image: linear-gradient(to bottom, rgb(99, 8, 8), rgb(255, 137, 210));
    /* Gradiente colorido na direção vertical */
    margin: 20px ;
    border-radius: 5px; /* Valor de border-radius para criar uma ondulação */
}

/* Adicionando um elemento de estilo ao centro da linha */
hr::after {
    display: inline-block;
    font-size: 1.5em;
    margin: 0 10px;
    /* Espaçamento ao redor do emoji */
}
/* .foto img:hover{
    transform: scale(1.1);
} */

p{
    margin-left: 10px;
}

@media screen and (min-width:768px) {
    nav .menu-mobile {
        display: none;
    }

    nav .menuIcon {
        display: none;
    }

    nav .menu-desktop {
        display: flex;
    }

}