*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
:root{
    --larguraC: 100%;
    --alturaC: 38%;
}
/* body{
    overflow: hidden;
} */
.container {
   
    /* min-height: 100vh; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: flex-start;
    
    
}

header{
    background-image: url('Imagens/Capitu.jpg');
    width: 100%;
    height: var(--alturaC);
    background-size: cover;
}

nav{
    justify-content: flex-end;
    width: 100%;
    height:50px;
    display: flex;
    flex-direction: row;
    /* background-color: rgb(176, 154, 54); */
    /* background-color: darkred;
    /*background-color: rgb(1, 79, 1); */
    /* background-color: rgb(137, 135, 114); */
    background-color: rgb(123, 45, 67);
    align-items: center;
}
nav .menu-desktop{
    width: 100%;
    display: none;
    letter-spacing: 1px;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    justify-content: space-between;
    padding: 0 20px;
}
.inicial a:hover{
    color: rgb(255, 230, 0);
}


.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    margin-left: 32px;
    color: rgb(0, 0, 0);
    margin-right: 12px;
}

.nav-list2{
    list-style: none;
    display: flex;
}

.nav-list2 li{
    margin-left: 32px;
    color: rgb(0, 0, 0);
    margin-right: 12px;
}

nav .menuIcon{
    font-family: 'Inconsolata', monospace;
    display: block;
    margin: 8px;
}

nav .menu-mobile{
    
    background-color:indianred;
    width: 100%;
    position: absolute;
    /* top:calc(var(--alturaC)*0.5+ var(--alturaC) ); */
    top: calc(var(--alturaC) + 50px);
    left: -100%;
    /* height: calc(100% - var(--alturaC)); */
    height: 100%;
    font-family: 'Inconsolata', monospace;
    display: block;
    transition: 0.1s;
    
}

.menuIcon:hover{
    cursor: pointer;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    margin-left: 32px;
    color: white;
    margin-right: 12px;
}

.nav-list2{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.nav-list2 li{
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 45px;
}

.nav-list a:hover{
    color: rgb(63, 6, 24);
    cursor: pointer;
}
.nav-list2 a:hover{
    color: rgb(63, 6, 24);
    cursor: pointer;
}

.footer{
    
    bottom:0;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(238, 157, 202);
    /* width: var(--larguraC);
    height: calc(var(--alturaC)); */
    text-align: center;
    padding: 10px;
    display: block;
   
}

main{
    min-height: calc(100% - var(--alturaC));
    width:100%;
    padding: 30px;
    /* background-color: rgb(255, 247, 238); */

}
@media screen and (min-width:768px) {
    nav .menu-mobile{display: none;}
    nav .menuIcon{display:none;}
    nav .menu-desktop {display:flex;}
    
}